@import "https://cdn.jsdelivr.net/gh/Itz-fork/Zephyr@latest/Zephyr/styles/text.css";
@import "https://fonts.googleapis.com/css2?family=Satisfy&family=Sintony:wght@700&family=Yellowtail&display=swap";
html {
  scroll-behavior: smooth;
}

h2 {
  text-decoration: underline;
}

h2:before {
  content: "$ ";
}

h2:after {
  content: " ▌";
  animation: 1s infinite txt-indicator-ani;
}

p {
  background-color: #00000080;
  border-radius: 20px;
  padding: 5px;
  font-size: 1.1rem;
  display: inline-block;
}

@media only screen and (device-width >= 990px) {
  p {
    max-width: 50vw;
  }
}

button.gradnime, button.sc_btns {
  font-family: var(--z-font);
  color: var(--z-white-text);
  box-shadow: 0 2px 4px 0 var(--z-default-shadow);
  background-color: #000c;
  border: none;
  border-radius: 10px;
  margin: .6em .5em;
  padding: .8em;
  font-size: 1em;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

button.gradnime:hover:not(button.sc_btns), button.sc_btns:hover:not(button.sc_btns) {
  background: linear-gradient(60deg, #fb09, #f059, #7a2bbf99, #02c59b99) 0 0 / 300% 300%;
  animation: 3s infinite alternate loop-grad;
}

@keyframes loop-bg {
  from {
    background-position: 0%;
  }

  to {
    background-position: -200%;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes txt-indicator-ani {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes loop-grad {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

#sqbg {
  color: #f0f8ff;
  z-index: -1;
  text-align: center;
  filter: brightness(50%);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  background: linear-gradient(to right, #ed5ab3, #1640d6, #ed5ab3) 0 0 / 200%;
  gap: 2px;
  width: 100%;
  height: 100%;
  animation: 5s infinite alternate loop-bg, 4s zoom-out;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.sqr_block {
  color: #808080e6;
  z-index: 100;
  filter: brightness(30%);
  -webkit-user-select: none;
  user-select: none;
  background-color: #000000e6;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-family: Space Grotesk, monospace;
  display: flex;
  overflow: hidden;
}

.greet {
  color: var(--z-white-text);
  font-size: 2rem;
}

#main {
  min-height: 100vh;
  margin-top: 20vh;
  margin-left: 6vw;
  margin-right: 5vw;
}

#main > span {
  font-family: var(--z-font);
}

#main > h1 {
  color: var(--z-white-text);
  margin-top: 0;
  margin-left: 1.5rem;
  font-family: Sintony, sans-serif;
  font-size: 3rem;
}

#about {
  min-height: 100vh;
  margin-left: 6vw;
}

#skills {
  min-height: 80vh;
  margin-left: 6vw;
}

footer {
  text-align: center;
  background-color: #e6afe680;
  border-radius: 10px;
  width: 100%;
  min-height: 20vh;
}

footer div .sc_btns:hover {
  background-color: #000000e6;
  transform: scale(1.1);
}

footer > .footer_text {
  color: #fefae0;
  font-size: 1rem;
  font-family: var(--z-font);
  margin-top: 1.5rem;
  display: inline-block;
}

footer > div {
  margin-top: 1rem;
}

/*# sourceMappingURL=index.34df27b5.css.map */
